<!-- <footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy; WanderLust Pvt. Ltd.</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">terms</a>
        </div>
    </div>
</footer> -->

<footer class="footer">
    <div class="footer-container">
        <div class="footer-section socials">
            <a href="https://github.com/anantgobade03" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/anant_gobade?igsh=MXZpNXZ3ZTdwcmRobg==" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/anant-gobade-b99268257" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
        <div class="footer-section brand">
            &copy; 2025 WanderLust Pvt. Ltd. All rights reserved.
        </div>
        <div class="footer-section links">
            <a href="#">Privacy Policy</a>
            <span>|</span>
            <a href="#">Terms & Conditions</a>
        </div>
    </div>
</footer>
